html, body {
    background-color: #212529
}

main {
  padding: 20px;
}

.main-content {
    height: 1080px;
    overflow-y: scroll;
}

.top-right {
	position: absolute;
	top: 20px;
	right: 20px;
	/* background-color: rgba(0, 0, 0, 0.5); */
}

.nes-container + .nes-container {
  margin-top: 20px;
}

.word-wrap {
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.any-wrap {
	overflow-wrap: anywhere;
}

.short-height {
	height: 16px;
}

.modal-container {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
}

.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	width: 75%;
	background-color: #212529;

	max-width: 75vw;
	max-height: 75vh;
}


/* Patrik's CSS */
.container {
    padding: 20px;
	position: absolute;
	top: 26px;
	left: 30px;
	/* width: 703px; */
    width: 973px;
	/* height: 815px; */
    height: 1115px;
    /* max-height: 1115px; */
	transform: scale(0.6);
	transform-origin: top left;
}
.scene {
	position: absolute;
	top: 0; left: 0;
	/* width: 960px; */
    width: 1280px;

	transition: opacity 1s;
}
.scene div {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
}
.scene .girl div img {
	transition: margin-left 0.6s;
}
.scene .girl .tablet img { width: auto; }
.scene .background img,
.scene .tablet img {
	width: 100%;
}
.scene .tablet {
	display: block !important; /* TODO REMOVE */
}
.scene .girl img {
	position: absolute;
	/* height: 540px; */
    height: 720px;
	left: 50%;
	margin-left: -32%;
}
.scene .girl.right div img { margin-left: -5%; }
.scene .girl .brows img {

}
